.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 1050px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .mainBlock {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .main {
    flex-grow: 1;
    padding: 10px 20px;
  }

  .sectionSide {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 540px) {
    max-width: 100%;

    .mainBlock {
      display: flex;
      flex-direction: column;
      flex: 0;
    }
  }

  @media screen and (max-width: 767px) {
    max-width: 650px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 850px;
  }
}
