html 
    head 
        title= titlePage 
        link(rel="stylesheet", href="/style.css")
    body 
        include header
        main(class="main")
            if content == 'error'
                include error
            else if content == 'login'
                include login
            else if content == 'signin'
                include signin
            else if content == 'signout'
                include signout
            else if content == 'profile'
                include profile
            else if content == 'post'
                include post
            else if content == 'postId'
                include postId
            else if content == 'createpost'
                include createpost
            //- else if content == 'postId'
            //-     include postId
        include footer