div(class="wrapper")
    form(action="/post", method="POST", class="main__form")
        input(type="author", name="author", class="main__form-input") 
        input(type="text", name="text", class="main__form-input")
        input(type="submit", value="Create Post", class="main__form-btn")