div(class="wrapper")
    div(class="main__posts")
        h1 Posts
        a(href="/createpost", class="main__posts-btn") Create Post 
        if pageContent.length > 0
            each val in pageContent
                div(class="main__post")
                    a(href=`/post/${val._id}`, class="main__title")= val.title
        else 
            p U dont have posts