div(class="wrapper__center")
    div(class="container")
        h1 Sign Out
        form(action="/signout", method="POST", class="main__form")
            input(type="submit", value="sign out", class="main__form-signout")