div(class="wrapper__center")
    div(class="container")
        div(class="main__form-btns")
            a(href="/login", class="main__form-btn-enable") Login  
            a(href='#', class="main__form-btn-disabled") Sign In
        h1 Sign In
        if error
            h2= error
        form(action="/signin", method="POST", class="main__form")
            input(type="email", name="email", class="main__form-input", placeholder="email") 
            input(type="password", name="password", class="main__form-input", placeholder="password")
            input(type="password", name="repassword", class="main__form-input", placeholder="re-password")
            input(type="submit", value="sign in", class="main__form-btn")