html
    head 
        title=title 
        link(rel="stylesheet", href="/style.css")
    body
        include header 
        main(class="main")
        if template == 'login'
            include login
        else if template == 'signin'
            include signin
        else if template == 'signout'
            include signout
        else if template == 'main'
            include main
        include footer  
