div(class="container")
    div(class="main__center")
        h1 Sign In 
        if error 
            h2= error
        form(action="/signin", method="POST", class="main__form")
            input(type="email", name="email", placeholder="email", class="main__form-input")
            input(type="text", name="username", placeholder="username", class="main__form-input")
            input(type="password", name="password", placeholder="password", class="main__form-input")
            input(type="password", name="repassword", placeholder="re password", class="main__form-input")
            input(type="submit", value="Sign Up", class="main__form-submit")  