.tweet {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;

  .tweetImg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .tweetMain {
    width: 100%;
    .tweetMainHeader {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .tweetMainHeaderLink {
        margin-right: 10px;
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          color: grey;
        }
      }

      .tweetMainHeaderSpan {
        font-size: 18px;
        color: grey;

        &::after {
          content: '•';
          margin: 0 5px;
        }
      }

      .tweetMainHeaderTime {
      }
    }

    .tweetMainText {
      font-size: 16px;
      color: black;
    }

    .tweetMainBottom {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .tweetMainBottomItem {
        padding: 5px 10px;

        &:hover {
          background-color: black;
          border-radius: 15px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .tweetSetting {
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}
