.catalog {
  padding: 20px;
  background-color: rgb(199, 150, 87);
}

.catalogHeader {
  color: white;
  padding: 10px;
}

.catalogBlock {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  padding: 20px;
}
