section(class="index")
    h1 Index
    div(class="posts")
        if postContent.length > 0
            each val in postContent 
                div(class="post")
                    a(href=`/post/${val._id}`)= val.title 
                    p= val.text
        else 
            h2 No posts