section(class="signout")
    div(class="container")
        h2 Sign Out 
        form(action="/signout", method="POST", class="signout__form")
            button(type="submit", class="signout__form-btn") Sign Out  