header(class="header")
    nav(class="nav")
        li(class="nav__list")
            a(href="/", class="nav__list-a") Main 
        li(class="nav__list")
            a(href="/new", class="nav__list-a") New Message  