main(class="main") 
    each val in data
        div(class="message")
            p(class="message__name") Name: #{val.name}
            p(class="message__msg") Message: #{val.msg}
            span(class="message__date") #{val.date}