.cartItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: blanchedalmond;
  border: 3px solid rgb(119, 85, 22);
}

.cartItemImg {
  margin: 10px 0;
  width: 75px;
}

.cartItemBtn {
  width: 75%;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  border: 3px solid rgb(119, 85, 22);
}

.cartItemBtn:hover {
  color: white;
  background-color: rgb(206, 130, 38);
}
