nav(class="nav")
    li(class="nav__link")
        a(class="nav__link-a", href="/") Main
    li(class="nav__link")
        a(class="nav__link-a", href="/about") About
    li(class="nav__link")
        a(class="nav__link-a", href="/allauthor") All Author
    li(class="nav__link")
        a(class="nav__link-a", href="/allbook") All Book
    li(class="nav__link")
        a(class="nav__link-a", href="/allgenre") All Genre
    hr(class="nav__link-hr")
    li(class="nav__link")
        a(class="nav__link-a", href="/createauthor") Create Author
    li(class="nav__link")
        a(class="nav__link-a", href="/createbook") Create Book
    li(class="nav__link")
        a(class="nav__link-a", href="/creategenre") Create Genre