div(class="wrapper")
    div(class="main__column")
        h1 Sign Up
        form(action="/signup", method="POST", class="main__form")
            input(type="text", class="main__form-input", name="username", placeholder="Login", minlength="4", maxlength="12") 
            input(type="password", class="main__form-input", name="password", placeholder="Password", minlength="6", maxlength="12")
            input(type="password", class="main__form-input", name="repassword", placeholder="Password", minlength="6", maxlength="12")
            input(type="submit", class="main__form-btn", value="Sign Up")