.header {
  padding: 10px 20px;

  .headerNav {
  }

  .headerList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .headerListLi {
    padding: 2px 10px;
    font-size: 24px;
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
